/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
@tailwind components;
@tailwind utilities;

/* --- Loading --- */
/* Original code from: https://github.com/maxbeier/text-spinners/blob/master/spinners.css*/

.loading {
    display: inline-block;
    overflow: hidden;
    height: 1.3em;
    margin-top: -0.3em;
    line-height: 1.5em;
    vertical-align: text-bottom;
}

.loading::after {
    display: inline-table;
    white-space: pre;
    text-align: left;
}

/* --- Types --- */

/* default loading is ellip */
.loading::after {
    content: "\A.\A..\A...";
    animation: spin4 2s steps(4) infinite;
}
.loading.dots::after {
    content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏";
    animation: spin10 1s steps(10) infinite;
}

.loading.dots2::after {
    content: "⠋\A⠙\A⠚\A⠞\A⠖\A⠦\A⠴\A⠲\A⠳";
    animation: spin9 1s steps(9) infinite;
}

.loading.dots3::after {
    content: "⋮\A⋰\A⋯\A⋱";
    text-align: center;
    animation: spin4 1s steps(4) infinite;
}

/* --- Animations --- */

@keyframes spin1 {
    to {
        transform: translateY(-1.5em);
    }
}

@keyframes spin2 {
    to {
        transform: translateY(-3.0em);
    }
}

@keyframes spin3 {
    to {
        transform: translateY(-4.5em);
    }
}

@keyframes spin4 {
    to {
        transform: translateY(-6.0em);
    }
}

@keyframes spin5 {
    to {
        transform: translateY(-7.5em);
    }
}

@keyframes spin6 {
    to {
        transform: translateY(-9.0em);
    }
}

@keyframes spin7 {
    to {
        transform: translateY(-10.5em);
    }
}

@keyframes spin8 {
    to {
        transform: translateY(-12.0em);
    }
}

@keyframes spin9 {
    to {
        transform: translateY(-13.5em);
    }
}

@keyframes spin10 {
    to {
        transform: translateY(-15.0em);
    }
}

@keyframes spin11 {
    to {
        transform: translateY(-16.5em);
    }
}

@keyframes spin12 {
    to {
        transform: translateY(-18.0em);
    }
}

@keyframes spin10 {
    to {
        transform: translateY(-15em);
    }
}